<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title th:text="${application.website.name}+'充值'"></title>

    <meta name="keywords"
          th:content="${application.website.name}+',精品小说,弹幕网站,弹幕,弹幕小说网站,免费小说,小说阅读,小说排行,轻小说,txt小说下载,电子书下载,动漫轻小说,日本轻小说'">

    <meta name="description"
          th:content="${application.website.name}+'是国内优秀的小说弹幕网站,'+${application.website.name}+'提供海量热门网络小说,日本轻小说,国产轻小说,动漫小说,轻小说在线阅读和TXT小说下载,致力于网络精品小说的收集,智能计算小说评分,打造小说精品排行榜,致力于无广告无弹窗的小说阅读环境。'">

    <div th:include="mobile/common/css :: css"></div>
    <link rel="stylesheet" href="/css/base.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <style type="text/css">
        @media (max-width: 768px) {
            .main {
                width: 100%;
                padding: 0 12px;
            }

            .payBox {
                border: none;
            }

            .payHead {
                padding: 12px 0;
                margin: 0;
            }

            .payHead .fl {
                float: none;
                display: block;
            }

            .payCon h5 {
                margin-top: 12px;
            }

            .pay_way li {
                width: 48%;
                margin: 6px 1%;
                box-sizing: border-box;
            }

            .pay_way li.custom_amount {
                width: 98%;
            }

            .pay_way li.custom_amount .pay_mn {
                display: block;
                margin-top: 6px;
            }

            .pay_way li .pay_pic {
                width: 42px;
                height: auto;
            }

            #merchantSelect,
            #customAmount {
                width: 100%;
            }

            #btnUseCustom {
                width: 100%;
            }
        }
    </style>
</head>
<body>


<input type="hidden" id="limit" th:value="${limit}"/>
<input type="hidden" id="curr" th:value="${curr}"/>
<input type="hidden" id="total" th:value="${total}"/>
<input type="hidden" id="ids" th:value="${ids}"/>
<input type="hidden" id="bookStatus" th:value="${bookStatus}"/>
<input type="hidden" id="token" th:value="${token}"/>
<input type="hidden" id="keyword" th:value="${keyword}"/>
<input type="hidden" id="catId" th:value="${catId}"/>
<input type="hidden" id="sortBy" th:value="${sortBy}"/>
<input type="hidden" id="sort" th:value="${sort}"/>

<div style="height: 50px;line-height: 50px;text-align: center" class="layui-header header header-doc  layui-bg-cyan">

    <div style="width:10%;float: left;margin-left: 10px">
        <a href="javascript:history.go(-1)">
            <i style="font-size: 20px;color: #fff;" class="layui-icon">&#xe65c;</i></a>
    </div>
    <b class="layui-icon">充值</b>
    <div style="width:10%;float: right;margin-right: 10px"><a href="/">
        <i style="font-size: 20px;color: #fff;" class="layui-icon">&#xe68e;</i>
    </a>
    </div>
</div>
<div id="body" class="layui-row">
    <form action="/pay/aliPay" method="post" id="payform" name="payform">
        <div class="main box_center cf">
            <div class="channelWrap channelPay cf">
                <div class="payBox cf">
                    <div class="payHead cf">
                        <div class="fl">
                            充值账号：<span class="user_name" id="my_name"></span>余额：<em class="red"
                                                                                      id="accountBalance">0</em>屋币
                            <!--<em class="red">+0</em>代金券-->
                        </div>
                    </div>
                    <div class="payCon">
                        <h5>选择充值方式</h5>
                        <ul class="pay_way cf" id="ulPayType">
                            <li class="on" valp="1"><img class="pay_pic" src="../images/pay_zfb.png" alt="支付宝支付"/></li>
                            <li valp="2"><img class="pay_pic" src="../images/pay_wx.png" alt="微信支付"/></li>
                        </ul>
                        <h5>选择商户</h5>
                        <div class="pay_way cf" style="padding:10px 0;">
                            <select id="merchantSelect" style="min-width:200px;height:32px;line-height:32px;">
                                <option value="888007">默认商户（8007）</option>
                            </select>
                        </div>
                        <h5>选择充值金额</h5>
                        <ul class="pay_way cf" id="ulZFWX">
                            <li vals="10"><strong>10元</strong><span class="pay_mn">1000屋币</span></li>
                            <li vals="30"><strong>30元</strong><span class="pay_mn">3000屋币</span></li>
                            <li vals="50"><strong>50元</strong><span class="pay_mn">5000屋币
                                <!--<em class="red">+ 送500代金券</em>--></span></li>
                            <li vals="100"><strong>100元</strong><span class="pay_mn">10000屋币
                                <!--<em class="red">+ 送1200代金券</em>--></span></li>
                            <li vals="200"><strong>200元</strong><span class="pay_mn">20000屋币
                                <!--<em class="red">+ 送3000代金券</em>--></span></li>
                            <li vals="500"><strong>500元</strong><span class="pay_mn">50000屋币
                                <!--<em class="red">+ 送10000代金券</em>--></span></li>
                            <li class="custom_amount" data-type="custom">
                                <strong>自定义金额</strong>
                                <span class="pay_mn">
                                    <input type="number" id="customAmount" min="1" step="1" placeholder="请输入金额（元）"
                                           style="width:120px;height:28px;line-height:28px;padding:0 6px;"/>
                                </span>
                            </li>
                        </ul>
                        <div style="margin-top:8px;">
                            <button type="button" id="btnUseCustom"
                                    style="height:38px;min-width:120px;padding:0 18px;font-size:14px;">确认金额</button>
                        </div>
                        <ul class="pay_way cf" style="display:none;" id="ulPayPal">
                            <li vals="20"><strong>20美元</strong><span class="pay_mn">10000屋币</span></li>
                            <li vals="50" class="on"><strong>50美元</strong><span class="pay_mn">25000屋币<em
                                    class="red"></em></span>
                            </li>
                            <li vals="100"><strong>100美元</strong><span class="pay_mn">50000屋币<em class="red"></em></span>
                            </li>
                        </ul>
                        <ul class="pay_Checkout" id="ulZFWXXJ">
                            <li>当前汇率：1元=100屋币</li>
                            <li style="display:none"><a class="btn_red" href="pay_success.html"
                                                        onclick="javascript:UserPay.sendPay();">立即支付</a></li>
                        </ul>
                        <ul class="pay_Checkout" style="display:none;" id="ulPayPalXJ">
                            <li>当前汇率：1美元=500屋币</li>
                            <li style="display:none"><a class="btn_red" href="javascript:void(0);"
                                                        onclick="javascript:UserPay.sendPay();">立即支付</a></li>
                        </ul>
                    </div>
                    <div class="payFoot">
                        <strong class="tip_tit">温馨提示</strong>
                        <ul class="tip_list">
                            <li>1. 充值阅读权限仅限本书城使用</li>
                            <li>2. 充值支持信用卡、借记卡、支付宝余额、微信零钱等支付</li>
                            <li>3. 包年时间是365天，重复购买时间会累加</li>
                            <li>4. 若充值遇到问题，<a href="/user/feedback.html" target="_blank" class="unlink black9">点此留言</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="pValue" name="payAmount"/>
    </form>
</div>
<div th:replace="mobile/common/footer :: footer">
</div>

<a name="buttom"></a>
</body>

<div th:replace="mobile/common/js :: js"></div>
<script src="/javascript/pay.js" type="text/javascript"></script>

<script>

    //查询用户信息
    $.ajax({
        type: "get",
        url: "/user/userInfo",
        data: {},
        dataType: "json",
        success: function (data) {
            if (data.code == 200) {
                if (data.data.nickName) {
                    $("#my_name").html(data.data.nickName);
                } else {
                    $("#my_name").html(data.data.username);
                }

                $("#accountBalance").html(data.data.accountBalance);

            } else if (data.code == 1001) {
                //未登录
                location.href = '/user/login.html?originUrl=' + encodeURIComponent(location.href);

            } else {
                layer.alert(data.msg);
            }

        },
        error: function () {
            layer.alert('网络异常');
        }
    })

</script>


</html>
